<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>

 	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">



  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>XML Editor</title>

  <link href="{% static 'temp/css/main.css' %}" type="text/css" rel="stylesheet"/>
  <link href="{% static 'temp/js/ext/GLR/GLR.messenger.css' %}" type="text/css" rel="stylesheet"/>
  <script type="text/javascript" src="{% static 'temp/js/ext/jquery-1.4.4.js' %}"></script>
  <script type="text/javascript" src="{% static 'temp/js/ext/jquery-color.js' %}"></script>
  <script type="text/javascript" src="{% static 'temp/js/ext/GLR/GLR.js' %}"></script>
  <script type="text/javascript" src="{% static 'temp/js/ext/GLR/GLR.messenger.js' %}"></script>
  <script type="text/javascript" src="{% static 'temp/js/ext/xmlEditor.js' %}"></script>

  <script type="text/javascript">
  $(document).ready(function(){


      $("#btnToggle").click(function(){

console.time("loadingXML");
xmlEditor._toggle()
	console.timeEnd("loadingXML");
  	xmlEditor.renderTree();



     });


      {% for document in documents %}
      GLR.messenger.show({msg:"Loading XML..."});
      console.time("loadingXML");
  	  xmlEditor.loadXmlFromFile("{{ document.docfile.url }}", "#xml", function(){
  		console.timeEnd("loadingXML");
  		$("#xml").show();
  		$("#actionButtons").show();
  		xmlEditor.renderTree();
  	  });
      {% endfor %}
  //	$("#todos, #links").height($("#about").height()+"px");
  });



  </script>

	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{% static 'slickg/examples/examples.css' %}" type="text/css"/>

  <style>


		.button {
		 	position: relative;
		    background-color: #fc6; /* Green */
		    border: none;
		    color: white;
		    padding: 6px 3px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 14px;
		    margin: 4px 2px;
		    -webkit-transition-duration: 0.4s; /* Safari */
		    transition-duration: 0.4s;
		    cursor: pointer;
		}

		.button1 {
		width: 150px;
		    background-color: #fc6;
		    color: black;
		    border: 2px solid #900;
		}

		.button1:hover {
		    background-color: #900;
		    color: white;
		}

  </style>

</head>

<body>
<div id="logo" class="center-box">
	<h3>XML-Edit - XML Analysis Tool</h3>
</div>

<div id="content">
	<div id="sidebar">
		<div id="menu" class="left-box">
			<h2 class="title">File Upload</h2>
			<div class="content">
				<ul>
				  <form action="{% url "index2" %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <p>{{ form.non_field_errors }}</p>
                  <p>{{ form.docfile.label_tag }} </p>
                  <p>
                          {{ form.docfile.errors }}
                          {{ form.docfile }}
                  </p>
                  <p><input class="button button1" type="submit" value="Load Data" /></p>
          </form>
				</ul>
			</div>
		</div>
		<div id="updates" class="left-box">
			<h2 class="title">Tree Operations</h2>
			<div class="content">
				<ul>
					<button id="btnToggle" class="button button1">Collapse/Expand</button>
				</ul>
			</div>
		</div>

		<div id="updates" class="left-box">
		<h2 class="title">Save Data</h2>
		<div class="content">
			<ul>
		        <button class="button button1" onclick="getDataFile()">Save</button>
			</ul>
		</div>
	</div>


	</div>
	<div id="main">
		<div id="welcome" class="right-box">
			<h2 class="title">XML Tree View</h2>

      <div id="xml" style="display:none;"></div>
      <div id="actionButtons" style="display:none;"></div>

		</div>
		<div id="example" class="right-box">
		<h2 class="title">XML Data View</h2>
		</div>
		</div>
	</div>
</div>
</body>
