.xmltree { font-family: 'Trebuchet MS'; font-size: 15px; }
.xmltree ul { display: none; }
.xmltree ul, .xmltree.xmltree li { list-style: none; }
.xmltree.startExpanded ul { display: block; }
.xmltree ul { margin: 0; padding: 10px 0 0 0; border: none; margin-left: 15px; border-left: solid 1px #d86; }
.xmltree li { font-weight: bold; padding: 0 0 0 12px; display: block; position: relative; margin-bottom: 10px; border: none; }
.xmltree .attr { margin: -3px 0 7px 0; }
.xmltree a:hover { color: #d00; }
.xmltree .LIText, .xmltree .noKids .LIText:hover, .xmltree .currSel li .LIText { color: #333; }
.xmltree .tree_node { margin-right: 8px; background: #d86; padding: 2px 3px; color: #f4f4f4; border-radius: 3px; }
.xmltree .attr span { color: #373; }
.xmltree .attrValue { margin-left: 8px; }
.xmltree .tree_node, .xmltree .attr span, .xmltree .LIText { display: inline !important; }
.xmltree.hideAttrs .attr, .xmltree.hideNodeNames .tree_node { display: none !important; }
.xmltree .currSel .LIText { color: #d00; text-decoration: none !important; }
.xmltree .plusMin { position: absolute; width: 11px; height: 11px; top: 2px; left: -7px; background: #fec; border: solid 1px #d86; color: #d55; font-size: 15px; text-align: center; line-height: 9px; cursor: pointer; }
.xmltree .plusMin:hover { border-color: #fa8; background: #fff7da; }
.xmltree .noKids .plusMin { display: none; }
.xmltree.subTreeRequestsOnAllNodes .plusMin, .xmltree .subTreeNode .plusMin { display: block; }
/* .squaredOne */
.xmltree .squaredOne {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $activeColor;
      background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
      opacity: 0;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
/* end .squaredOne */
